<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nodevember schedule</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <style>
    .slot {
      white-space: normal !important;
      min-width: 200px;
      margin: -15px;
      margin-bottom: 10px;
      padding: 15px;
    }
  </style>
</head>
<body>
  <div id="root">
    <div class="container">
      {{#each this}}
        <div class="row" id="{{toLowerCase title}}">
          <div class="col-xs-12">
            <h3>{{title}}</h3>
            <p class="text-muted">
              {{date}}
            </p>

            {{> _row-schedule}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <script src="main.js"></script>
</body>
</html>
